:root{
    --primary-color: rgb(116, 37, 159);
    --secondry-color:rgb(255, 255, 255);
    --light-color: rgb(145, 139, 231);
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color:var(--primary-color);
    padding: 5px 5px;
}
.wrapper{
    margin: 30px 30px 30px 30px;
    /* background-color: rgb(207, 197, 211); */
}
.nav{
    position: relative;
}
#navigation{
    position: absolute;
    top: 2px;
    right: 16px;
}
.nav a{
    text-decoration: none;
    border-radius: 9px;
    align-items: center;
    max-width: fit-content;
}
.nav a{
	display: flex;
	font-size: 18px;
    margin: 5px;
	padding-left:100px;
	text-align: center;
}
.search{
    border: none;
    margin-top: 8px;
}
.nav input[type=text] {
    border: none;
    margin-top: 8px;
    font-size: 15px;
    background-color: #dfdbe0;
    width: 90%;
}
.header {
    background-color: var(--secondry-color);
    padding: 5px;
    border-radius: 15px;
}
  
#logo {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
  /* uses float to align the logo to the left corner of the page */
#logo img {
    max-width: 100px;
}
.title{
        position: absolute;
        top: 40%;
        left: 10%;
        bottom: 40%;
        color: #280132;
        max-width: fit-content;
  }
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #995ab9;
    position: absolute;
    margin-top: 250px;
    margin-left:350px ;
    display: block;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(75, 10, 99);
}
h1{
    color: #732ba7;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    position: relative;
    /* display:inline-block; */
    cursor: pointer;
  }
.container:hover .text{
    visibility: visible;
}
p{
    font-size: 18px;
}
img{
    display: block;
    max-width: 100%;
      
}
.banner3{
    opacity: 0.7;
    width: 100%;
    max-width: max-content;
}
.menu-images{
    display: block;
	/* width: 70%; */
	max-width: 100%;
	height: 100%;
    opacity: 1;
    transition: .5s ease;
    padding-left: 10px;
    
}
 .container:hover .menu-images {
   transform: scale(1.1);   
}
/* uses scale to size up the image when hovering over */
.layer{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 50%;
    bottom: 70%;
    left: 30%;
    font-size: 16px;
    visibility: hidden;
}
.layer .text{
    /* margin-bottom: 2rem; */
    background-color: rgb(210, 166, 232);
    opacity: .9;
    text-align: center;
}
.skip-button{
    background-color: #f2eef4;
}
.back-to-home{
    text-decoration: none;

}
textarea{
	width: 90%;
}
th, td {
	border: 1px solid;
	padding: 20px 20px;
}
table{
    border: 1px solid;
}
.Hours{
	width: 95%;
}
    /* adding color only to two coloums in the table by specifiying it in a class */
.days{
	background-color:#d0cbed;
}
#button1{
    background-color: var(--light-color);
    padding: 10px 10px;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 50%;
    border-radius: 12px;
    animation-name: shake;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes shake {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(4px, -4px);
	}

    60% {
		transform: translate(4px, 4px);
	}

	80% {
		transform: translate(-4px, -4px);
	}

	100% {
		transform: translate(0);
	}
}
#button1:active{
    animation: disapear;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: 2;
}
@keyframes  disapear{
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(60px);
	}
}
#button2{
    background-color: var(--light-color);
    padding: 10px 10px;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 50%;
    border-radius: 12px;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: jump;
    
}
@keyframes jump {
    0% {
      transform: translateY(0) 
    }
    25% { 
      transform: translateY(20px) 
    }
    50% { 
      transform: translateY(-20px)
    }
    100% { 
      transform: translateY(0) 
    }
}
#button2:hover{
    background: #f4d3d3;
    box-shadow: 4px 2px 6px 5px #d95889;
    color: #000;

}
.order-button{
    padding: 10px 10px;
    background-color: var(--light-color);
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
}
.send{
    padding: 10px 10px;
    background-color: var(--light-color);
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    animation-name: change;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes change {
    0% {
        background-color: rgb(176, 172, 234);
    }
    50% {
      background-color: #e79544;
    }
    100% {
        background-color: #d550b8;
      }
  }
.send:active{
    transform: translateY(4px);
    box-shadow: 0 4px #000000;
    animation-name: go;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}
@keyframes go {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(200px);
	}
}
.button-con{
    position: relative;
}
.skip {
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e28ea6;
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 8px;
}
iframe{
	border: 0;
    width:fit-content;
    height: 250px;
}
#logo {
	float: left;
}
.banner-6{
    background-color: #d9c7e2;
    height: 250px;
    width: 250px;
    padding: 20px 15px;
    border-radius: 30px;
}
.churros{
    width: 200px;
    height: 200px;
}
#contact{
    max-width: fit-content;
}
label{
    padding-left: 5px;
}
.main-footer{
    color:  rgb(0, 0, 0);
    font-weight: bold;
}
footer{
    background-color: rgb(183, 121, 216);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 50px;
    justify-items: center;
    font-weight: bold;
    border-radius: 15px;
}
@media screen and (min-width: 600px) {
#navigation a {
	display: inline;
    font-size: 20px;
    padding: 15px;
    padding-left: 70px;
    color:#280132;
    }

.nav {
    overflow: hidden;
    }
      
      /* Style the links inside the navigation bar */
.nav a {
        float: left;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
.nav a:hover {
        color: black;
      }
.nav input[type=text] {
        float: right;
        padding: 10px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 15px;
        background-color: #c7c1c9;
        width: fit-content;
      }
#navigation{
        position:relative;
        top: 0;
        right: 0;
    }
.grid { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        align-items: stretch;
        justify-items: center;
        }
.menu-images{
        border: 1px solid  rgb(183, 121, 216);
        box-shadow: 2px 2px 6px  rgba(176, 123, 176, 0.3);
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    
}
#button2{
    background-color:var(--light-color);
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 50%;;
    
}
.container-2{
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
    grid-template-rows: 1fr;
	display: grid;
	width:fit-content;
	align-items:center;
}
#contact{
    display: grid;
	grid-column: 1/span 2;
    grid-row: 1;
}
.table{
    display: grid;
	grid-column: 3/ span 4;
	grid-row: 1;
    width: max-content;
    }
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;

}
.churros{
    width: 450px;
    width: 450px;
}
.map{
    padding-left: 70px;

}
}

