body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(143, 114, 154);
    padding: 10px;
}
.wrapper{
    margin: 40px 40px 40px 40px;
    background-color: rgb(207, 197, 211);
}
.nav a{
    text-decoration: none;
}
.nav ul a{
	/* display: inline; */
	display: flex;
	font-size: 18px;
    margin: 5px;
	padding-left:100px;
	text-align: center;
}
.search{
    border: none;
    margin-top: 8px;
}
.nav input[type=text] {
    /* float: right; */
    /* padding: 10px; */
    border: none;
    margin-top: 8px;
    /* margin-right: 16px; */
    font-size: 15px;
    background-color: #c7c1c9;
    width: 100%;
  }
/* .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    color: black;
  }
  .nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    background-color: #c7c1c9;
    width: 80%;
  } */
/* .mainnav{
    position: fixed;
} */
/* nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color: #480b67;
    font-weight: bold;
} */
.header {
    background-color: rgb(255, 255, 255);
  }
  
#logo {
    float: left;
    padding-left: 10px;
    padding-top: 10px;

  }
  
#logo img {
    max-width: 100px;

  }
  
/* .nav  {
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
      
}
  
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left:40px ;
} */
/* .nav a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color: #480b67;
    font-weight: bold; 
}
.nav ul li {
    display: inline-block;
    margin-left: 20px;
  } */
/* .topnav li {
	
    display: inline;
    font-size: 20px;
    padding: 15px;
  }
  .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    color: black;
  }
  .nav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    background-color: #c7c1c9;
    width: 80%;
  } */
/* .search{
	width: 100%;
	float: right;
    align-self: center;
} */
.title {
    padding: 50px 25px;
    text-align: center;
  }
.h1{
        /* position: absolute; */
        top: 50%;
        left: 40%;
        bottom: 40%;
        color: #440954;

  }
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #995ab9;
    position: absolute;
    margin-top: 250px;
    margin-left:350px ;
    display: block;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}
/* .menu-buttons{
    font-size:25px ;
    color: rgb(13, 52, 105);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */
.container {
    position: relative;
    /* display:inline-block; */
    cursor: pointer;
  }
.container:hover .text{
    visibility: visible;
}
/* .container:hover .menu-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #bc74e2;
    opacity: 1;
    color:  rgb(207, 197, 211);
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
  } */
p{
    font-size: 18px;
}
img{
    display: block;
    max-width: 100%;
      
}
.banner-3{
    opacity: 0.7 ;
    width: 100%;
    max-width: max-content;
	

}
.menu-images{
    display: block;
	/* width: 70%; */
	max-width: 100%;
	height: 100%;
    opacity: 1;
    transition: .5s ease;
    
}
 .container:hover .menu-images {
   transform: scale(1.1);
      
}
/* .container:hover h3 {
    opacity: 1;
  } */
.layer{
    /* background-color: rgb(184, 94, 233); */
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 50%;
    bottom: 70%;
    left: 30%;
    font-size: 16px;
    /* padding: 10px 10px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* opacity:.8; */
    visibility: hidden;
}

.layer .text{
    /* color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 0;
    left: 0; */
    /* transform: translate(-50%,-50%); */
    /* font-size: 20px; */
    margin-bottom: 1rem;
    background-color: rgb(184, 94, 233);
    opacity: .9;
    padding: auto;
    /* align-items: center; */
    text-align: center;
}

.search{
    float: right;
  }
  
.skip-button{
    background-color: #f2eef4;
}
.back-to-home{
    text-decoration: none;

}
textarea{
	width: 100%;
}
th, td {
	border: 1px solid;
	padding: 20px 20px;
}
table{
    border: 1px solid;
}
.Hours{
	width: 95%;
}
    /* adding color only to two coloums in the table by specifiying it in a class */
.days{
	background-color:#69676a;
}
/* .conatiner{
    background-color:#c8d6c8;
	max-width: 100%;
	height: auto;
	padding-bottom: 15px;
} */
#button2{
    background-color: rgb(234, 223, 237);
    padding: 10px 10px;
    font-size: 5px;
    /* right: 50%; */
    position: absolute;
    
}
.button-con{
    position: relative;
}
.skip {
    text-decoration: none;

}
iframe{
	border: 0;
    width:fit-content;
    height: 250px;
}
/* .container{
    background-color: #995ab9;
} */
/* .logo-container{
    float: left;
} */
#logo {
	float: left;
}
/* .flex{
    display: flex;
    flex-direction: column;
} */
.banner-6{
    background-color: #995ab9;
    height: 250px;
    width: 250px;
    padding: 10px 10px;
}
.churros{
    width: 200px;
    height: 200px;
}





footer{
    background-color: #995ab9;
    padding: 10px 10px;
    padding: 15px;

}
@media screen and (min-width: 600px) {
    .topnav li {
	
        display: inline;
        font-size: 20px;
        padding: 15px;
      }
      .topnav li {
	
        display: inline;
        font-size: 20px;
        padding: 15px;
      }
      .nav {
        overflow: hidden;
      }
      
      /* Style the links inside the navigation bar */
      .nav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .nav a:hover {
        color: black;
      }
      .nav input[type=text] {
        float: right;
        padding: 10px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 15px;
        background-color: #c7c1c9;
        width: 80%;
      }


    /* .nav{
        display: inline-block;
    }
    .nav a, .nav input[type=text] {
      float: none;
      text-align: start;
      width: 100%;
      margin: 0;
      padding: 14px;
      color:aqua ;
    }
    .nav input[type=text] {
      color:  #d21717;
    
    } */

    /* .grid{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "a b c "
        "d e f ";
    } */
.grid { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        align-items: stretch;
        justify-items: center;
        }
.menu-images{
        border: 1px solid #e69aea;
        box-shadow: 2px 2px 6px 0px  rgba(176, 123, 176, 0.3);
        max-width: 100%;
        width: 100%;
    
}
#button2{
    background-color: rgb(234, 223, 237);
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    position: absolute;
    top: 5px;
    right: 50%;;
    
}
.conatiner-2{
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
    grid-template-rows: 1fr;
	display: grid;
	width:fit-content;
	align-items:center;
}
#contact{
    display: grid;
	grid-column: 1/span 2;
    grid-row: 1;
	width: fit-content;
}
.table{
    display: grid;
	grid-column: 2/ span 2;
	grid-row: 1;
    
    }
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;

}
.churros{
    width: 450px;
    width: 450px;
}
.map{
    padding-left: 70px;

}
}

