body{
    font-family: 'Open Sans', sans-serif;
	color: aliceblue;
}
nav ul li {
    width: 30%;
    display: inline;
    margin-right: 30px;
    border-right: 1px solid #000 ;
  }
  .nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  